<div class="gameHistory">
    @if(History != null){
        @for (int i = 0; i < History.Count; i += 2)
        {
            <span class="moveNumber">
                @(
                    i / 2 + 1
                    ).
            </span>
            if (History[i] != null)
            {
                Move move = History[i];
                int currentIndex = i;
                <span class="moveNotation" @onclick="() => OnSelectMove.InvokeAsync(currentIndex+1)">
                    @move.GetMoveNotation()@(move.isCheckMate || move.isDraw ? "" : ",")&nbsp;
                </span>

                if (currentIndex +1 < History.Count)
                {
                    Move nextMove= History[currentIndex + 1];
                    <span class="moveNotation" @onclick="() => OnSelectMove.InvokeAsync(currentIndex+2)">@nextMove.GetMoveNotation()&nbsp;</span>
                }
                else if(!move.isCheckMate && !move.isDraw)
                {
                    <span class="moveNotation">...</span>
                }
            }
            else
            {
                <span class="moveNotation">...</span>
            }
        }
    }
</div>

@code {
    [Parameter]
    public List<Move>? History { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectMove { get; set; }
}
